.quarter-box.box {
    width: 100%;
    height: 74%;
}

.quarter-box {
    width: 49%;
    height: 25%;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
    vertical-align: -webkit-baseline-middle;
}

.quarter-box input {
    display: inline-block;
}

.quarter-box select {
    display: block;
}

.quarter-box input, select {
    border-radius: 0;
    font-size: initial;
    margin: 1rem;
    padding: 10px;
}