.app {
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  background: url(./logo.png) no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  height: 62px;
  width: 211px;
  border-radius: 2px;
  margin: 8px;
  padding: 2rem;
  bottom: 0;
}