---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: node
inputs:
  - name: concourse
  - name: src
outputs:
  - name: build-output
run:
  path: concourse/tasks/run-unit-test.sh