.box-element {
    height: 50%;
    width: 100%;
    pointer-events: none;
}

.box-element span {
    padding: 1rem;
}

.box-element h1, h2, h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: .5rem;
    margin-top: -18px;
    background: #45ada5;
    font-weight: 300;
}

.box-element.quarter {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.box-element.quarter div {
    padding: .5rem;
}

.full {
    height: 100%;
    width: 100%;
    pointer-events: none;
}